.admission-content {
    text-align: center;
    margin-top: -860px; 
  }
  
  .admission-title {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
    position: relative;
  }
  
  .admission-subtitle {
    font-size: 24px;
    margin-bottom: 30px;
    color: #555;
  }
  
  .admission-buttons {
    display: flex;
    justify-content: center;
  }
  
  .admission-button {
    background-color: #35408E;
    color: white;
    border: none;
    padding: 30px 40px;
    margin: 0 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 200px; 
    height: 150px; 
  }
  
  .admission-icon {
    font-size: 50px;
    margin-bottom: 15px;
  }
  
  .admission-button-text {
    font-size: 20px;
  }