.enrollment-form-content {
  max-width: 80%;
  margin: 10px auto; 
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.enrollment-form-title {
  font-size: 50px; 
  font-weight: bold;
  margin-bottom: 50px;
  text-align: left;
  color: #555; 
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; 
}

.form-group {
  flex: 1;
  margin-right: 30px; 
}

.form-group:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 16px; 
  font-size: 30px; 
  font-weight: bold;
  color: #555; 
}

select,
textarea {
  width: 100%;
  padding: 34px; 
  border: 4px solid #ccc;
  border-radius: 12px; 
  box-sizing: border-box;
  font-size: 36px; 
  color: #333; 
  min-height: 50px; 
}

textarea {
  resize: vertical;
  min-height: 200px; 
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; 
}

.back-button,
.submit-button {
  padding: 28px 56px; 
  border: none;
  border-radius: 12px;
  font-size: 36px; 
  cursor: pointer;
  transition: 0.3s;
  color: white; 
}

.back-button {
  background-color: #35408E;
  position: relative;
  left: -10px;
}

.submit-button {
  background-color: #35408E;
  position: relative;
  left: -10px;
}

.back-button:hover {
  background-color: #283069;
}

.submit-button:hover {
  background-color: #283069;
}

@media (max-width: 600px) {
  .form-row {
      flex-direction: column;
  }

  .form-group {
      margin-right: 0;
      margin-bottom: 30px; 
      
  }
}

input {
  padding: 20px; 
  height: 50px; 
  font-size: 36px; 
}

.form-group input {
  padding: 20px; 
  height: 50px; 
  font-size: 20px;
}

.form-group select {
  font-size: 20px;
  height: 50px; 
}

#additionalNotes {
  font-size: 20px; 
}

.required-asterisk {
  color: red;
}
