.inquiry-content {
  width: 95%; 
  max-width: 1100px; 
  margin: 20px auto; 
  padding: 40px; 
  background-color: #fff;
  border-radius: 15px; 
  text-align: center;
  font-size: 22px; 
}

.inquiry-title {
  font-size: 48px; 
  margin-bottom: 20px; 
}

.inquiry-subtitle {
  font-size: 24px; 
  margin-bottom: 40px; 
}

.category-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px; 
  margin-bottom: 40px; 
}

.category-button {
  padding: 25px 40px; 
  border: none;
  border-radius: 8px; 
  background-color: #35408E;
  color: white;
  font-size: 24px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #283593;
}

.others-section {
  margin-top: 50px; 
}

.others-text {
  font-size: 24px; 
  margin-bottom: 20px; 
}

.others-button {
  padding: 20px 30px; 
  border: none;
  border-radius: 8px; 
  background-color: #35408E;
  color: white;
  font-size: 20px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.others-button:hover {
  background-color: #35408E;
}

.form-actions {
  margin-top: 50px; 
}

.inquiry-back-button {
  padding: 20px 30px; 
  border: none;
  border-radius: 8px; 
  background-color: #35408E;
  color: white;
  font-size: 20px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inquiry-submit-button {
  padding: 20px 30px; 
  border: none;
  border-radius: 8px; 
  background-color: #35408E;
  color: white;
  font-size: 20px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}



@media (max-width: 600px) {
  .category-buttons {
      grid-template-columns: 1fr;
      gap: 20px;
  }
  .inquiry-content {
      padding: 30px;
      margin: 30px auto;
  }
}