.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 30px; 
  border-radius: 16px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  width: 400px; 
  max-width: 90vw; 
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.modal-title {
  color: #35408E;
  font-size: 32px; 
  font-weight: 700;
}

.modal-logo {
  height: 80px; 
}

.modal-body {
  margin-bottom: 30px;
  margin-top: -30px;

}

.modal-body p {
  margin: 15px 0;
  font-size: 20px; 
  line-height: 1.6;
  
}

.modal-body p strong {
  font-weight: 600;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-cancel,
.modal-submit {
  padding: 14px 28px; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
}

.modal-cancel {
  background-color: transparent;
  color: #35408E;
  border: 1.5px solid #35408E;
}

.modal-submit {
  background-color: #35408E;
  color: white;
}

.modal-cancel:hover {
  background-color: #e0e0e0;
}

.modal-submit:hover {
  background-color: #2d3780;
}
